<div class="row">
  <div class="col m6">
    <app-line-chart type="T" [labels]="labels" [chartData]="tempData"></app-line-chart>
  </div>
  <div class="col m6">
    <app-line-chart type="H" [labels]="labels" [chartData]="humidData"></app-line-chart>
  </div>
</div>
<div class="row">
  <div class="col m6">
    <app-line-chart type="L" [labels]="labels" [chartData]="lightData"></app-line-chart>
  </div>
  <div class="col m6">
    <app-line-chart type="M" [labels]="labels" [chartData]="motionData"></app-line-chart>
  </div>
</div>
