<!-- Dropdown Structure 2-->
<div id="dropdown1" class="dropdown-content notifications">
    <div class="notifications-title">notifications</div>
    <div class="card">
    <div class="card-content"><span class="card-title">Office</span>
        <span>Temperature Alert</span>
    </div>
    <div class="card-action"><a class="modal-trigger" href="#temperature-critical">view</a></div>
    </div>
    <div class="card">
    <div class="card-content"><span class="card-title">RHP Demo</span>
        <span>Movement Alert</span>
    </div>
    <div class="card-action"><a class="modal-trigger" href="#movement-critical">view</a></div>
    </div>
    <div class="card">
    <div class="card-content"><span class="card-title">Hollway</span>
        <span>Humidity Alert</span>
    </div>
    <div class="card-action"><a class="modal-trigger" href="#humidity-warning">view</a></div>
    </div>
    <div class="card">
    <div class="card-content"><span class="card-title">Hallway</span>
        <span>Audio Alert</span>
    </div>
    <div class="card-action"><a class="modal-trigger" href="#audio-warning">View</a></div>
    </div>
</div>
