<div class="dashboard container-fluid">
  <div class="row">
    <h3 class="title center">Summary Dashboard</h3>

    <div class="row">
      <div class="col m4">
        <div *ngIf="rhp?.length > 1; else elseBlock">
          <div class="container-fluid">
            <a class="dropdown-trigger" href="#" data-target='selectLocation'>
              <h5>{{selectedRhpName}}
                <span class="material-icons">location_on</span>
                {{selectedBuildingCount}}
                <span class="material-icons">arrow_drop_down</span>
              </h5>
            </a>
          </div>
        </div>
      </div>

      <ul id='selectLocation' class='dropdown-content col m3'>
        <li><a (click)="onSelect(null)">All</a></li>
        <li>
          <ng-template let-rhps ngFor [ngForOf]="rhp">
            <a (click)="onSelect(rhps)" class="dropdown-item dropMenu">{{rhps.name}}</a>
          </ng-template>
        </li>
      </ul>

      <ng-template #elseBlock class="nav-item dropdown">
        <h2>{{selectedRhpName}}
          <span class=""></span>{{selectedBuildingCount}}</h2>
      </ng-template>
    </div>

    <div class="divider"></div>
    <app-incident-management></app-incident-management>
    <div class="col s12 m12 l7">
      <app-property-map [buildings]="buildings" [singleProps]="singleProperties" [ragFilter]="currentFilter"></app-property-map>
    </div>
  </div>
  <app-alarm-modals></app-alarm-modals>
</div>


<section class="bottom-table container-fluid">
  <div class="section container-fluid dashboard">
    <div class="row">

      <app-building-list [buildings]="buildingsWithFake" [showBuildingName]="true"></app-building-list>
      <app-search-side-menu></app-search-side-menu>
    </div>
  </div>
</section>
