<div class="row">

  <div class="col m4">
      <app-sensor-ticker
      type="T" value="{{telemetry.temp}}"
      [rag]="messages?.temp?.rag" [message]="messages?.temp?.message">
      </app-sensor-ticker>
  </div>

  <div class="col m4">
      <app-sensor-ticker
      type="A" value="{{telemetry.audio}}">
      </app-sensor-ticker>
  </div>

  <div class="col m4">
      <app-sensor-ticker
      type="H" value="{{telemetry.humid}}"
      [rag]="messages?.humid?.rag" [message]="messages?.humid?.message"></app-sensor-ticker>
  </div>

</div>
