
.account {
    color: rgba(1, 0, 0, 0.728);
  }
  
  .register {
    margin:0 0 30px 23px;
  }
  
  .topNav {
    height: 130px;
  }
  
  .nav-item {
    color: black;
    font-size: 18px;
    margin-top: 66px;
  }
  
  .loginCard {
      margin: 70px;
  }
  
  .logo {
      margin: 0 auto auto 20px;
  }
  
  .forgot {
    margin-right: 35px;
    margin-bottom: 0;
  }
  
  .btn-forgot {
   float: right;
   margin-right: 10px;
  }
  
  @media (max-width: 556px) {
    .back-btn {
      display: flex;
      flex: 1;
  
    }
  }