<!-- Temperature Critical-->
<div id="temperature-critical" class="modal" materialize="modal" >
    <div class="modal-content">
    <h3><i class="fas fa-thermometer-empty left"></i>Temperature Alert</h3>
    <br class="section">
    <h5 >Temperature is above safe levels.</h5>
    </div>
    <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" >Close</a>
    </div>
</div>

<!-- Movement Critical-->
<div id="movement-critical" class="modal">
    <div class="modal-content">
    <h3><i class="directions_walk_icon material-icons">directions_walk</i> Movement Alert</h3>
    <br class="section">
    <h5 >No movement been detected for the past 24 hours.</h5>
    </div>
    <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<!-- Humidity Warning-->
<div id="humidity-warning" class="modal">
    <div class="modal-content">
    <h3><i class="fas fa-tint left"></i>Humidity Alert</h3>
    <br class="section">
    <h5 >Humidity is above safe levels.</h5>
    </div>
    <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<!-- Audio Warning-->
<div id="audio-warning" class="modal">
    <div class="modal-content">
    <h3><i class="fas fa-volume-up left"></i>Audio Alert</h3>
    <br class="section">
    <h5 >Noise level above 2dB.</h5>
    </div>
    <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
