/* 1 - Global styles
================================================== */


html, body {
    font-family: 'Raleway', 'Philosopher', Arial, sans-serif;
    background-color: #fff!important;
     
  }

.divider {
    margin: -20px auto 30px;
}

.dashboard {
    margin: 0 50px;
}

.section {
  margin: 50px auto;
}

.dashboard {
   margin: 0 50px;
}

.title {
  margin-bottom: 40px;
}