.mdi {
  font-size: 50px;
  float:  left;
  margin-left: 15px;
}

.sensor-icon-holder {
  position: relative;
}

.cardValue {
  margin-right: 15px;
}

.sensor-icon {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 40px;
}

/*.warning-shade {
    background-color: rgba(246,193,99, 0.5);
  }

  .danger-shade {
    background-color: rgba(235, 99, 87, 0.5);
  }*/

.mdi-not-block {
  display: inline;
}

.sensor-danger {
  color: red;
}
.sensor-warning {
  color: #f6c163;
}
