<!-- Helper circle button -->
<div class="fixed-action-btn">
  <a class="btn-floating btn-large yellow accent-2 z-depth-3 btn tooltipped" data-position="left" data-tooltip="Need help?">
    <i class="large material-icons">chat</i>
  </a>
  <ul>
    <li><a routerLink="/dashboard" class="btn-floating green z-depth-3 tooltipped" data-position="left" data-tooltip="Home"><i class="material-icons">home</i></a></li>
    <li><a routerLink="/property" class="btn-floating red z-depth-3 tooltipped" data-position="left" data-tooltip="Property"><i class="material-icons">insert_chart</i></a></li>
    <li><a routerLink="/home" class="btn-floating yellow darken-1 z-depth-3 tooltipped" data-position="left" data-tooltip="Live Chat"><i class="material-icons">chat</i></a></li>
    <li><a href="mailto:admin@informedactions.com" class="btn-floating bluz-depth-3 z-depth-3 tooltipped" data-position="left" data-tooltip="Email us"><i class="material-icons">mail</i></a></li>
  </ul>
</div>
