<div class="row">
  <div class="col m3">
    <app-sensor-ticker type="T" [value]="telemetry.temp" [rag]="messages?.temp?.rag" [message]="messages?.temp?.message"></app-sensor-ticker>
  </div>
  <div class="col m3">
    <app-sensor-ticker type="H" [value]="telemetry.humid" [rag]="messages?.humid?.rag" [message]="messages?.humid?.message"></app-sensor-ticker>
  </div>
  <div class="col m3">
    <app-sensor-ticker type="L" [value]="telemetry.light" [rag]="messages?.light?.rag" [message]="messages?.light?.message"></app-sensor-ticker>
  </div>
  <div class="col m3">
    <app-sensor-ticker type="M" [value]="telemetry.motion"></app-sensor-ticker>
  </div>
</div>
