<div class="wrapper">
  <div class="dashboard container-fluid">
    <div *ngIf="building">

      <div class="row">
        <nav class="navBreadcrumb">
          <div class="nav-wrapper">
            <div class="col m6">
              <a class="breadcrumb black-text" routerLink="/dashboard/">Home </a>
              <a class="active breadcrumb black-text">
                {{building.name}}
              </a>
            </div>
          </div>
        </nav>

        <div class="row">
          <app-building-list [buildings]="building? [building] : []" [showBuildingName]=true></app-building-list>

          <div class="section dropDowns col l3 m5 s12">

              <div class="col s12">
                  <div class="input-field col m12 s12">
                  <a><i class="small material-icons">date_range</i>
                  <input type="text" class="datepicker" placeholder="Select Start Date"></a>
                  </div>

                  <div class="input-field col m12 s12">
                  <a><i class="small material-icons">date_range</i>
                  <input type="text" class="datepicker" placeholder="Select End Date"></a>
                  </div>

              </div>
              </div>
        </div>
      </div>
    </div>

<section class=" container-fluid">
    <ngb-tabset >
      <ngb-tab id="history">
        <ng-template ngbTabTitle>
          <button [class]="selectedTabTitleClass('history')">Current</button>
        </ng-template>
        <ng-template ngbTabContent>
          <div style="text-align: center">
            <h3>Averages</h3>
            <!-- can we use modularistation for this? -->
            <div *ngIf="sensorType=='S1'">
              <app-rhp-one-telemetry-tickers [telemetry]="sensorTelemetry"></app-rhp-one-telemetry-tickers>
            </div>
            <div *ngIf="sensorType=='S2'">
              <app-rhp-two-telemetry-tickers [telemetry]="sensorTelemetry"></app-rhp-two-telemetry-tickers>
            </div>
          </div>

          <div class="form-group">
            <div class="col m12 radio-btn">
              <form class="row" action="" #f="ngForm" (change)="graphSelectorChanged()">
                <div class="col m1">
                  <div class="be-radio inline">
                    <input type="radio" [(ngModel)]="dayWeekMonth" value="D" name="dwm" id="rad6">
                    <label for="rad6">Day</label>
                  </div>
                </div>
                <div class="col m1">
                  <div class="be-radio inline">
                    <input type="radio" [(ngModel)]="dayWeekMonth" value="W" name="dwm" id="rad7">
                    <label for="rad7">Week</label>
                  </div>
                </div>
                <div class="col m2">
                  <div class="be-radio inline">
                    <input type="radio" [(ngModel)]="dayWeekMonth" value="M" name="dwm" id="rad8">
                    <label for="rad8">Month</label>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- can we modularise this? -->
          <div class="container-fluid">
            <div *ngIf="sensorType=='S1'">
              <app-rhp-one-graphs [telemetry]="averageHistory"></app-rhp-one-graphs>
            </div>
            <div *ngIf="sensorType=='S2'">
              <app-rhp-two-graphs [telemetry]="averageHistory"></app-rhp-two-graphs>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="forecast">
        <ng-template ngbTabTitle>
          <button [class]="selectedTabTitleClass('forecast')">Forecast</button>
        </ng-template>
        <ng-template ngbTabContent>
          <!-- <h3>Averages</h3> -->
          <div class="form-group">
            <div class="col m12">
              <form class="row" action="" #f="ngForm" (change)="forecastSelectorChanged()">
                <div class="col m1">
                  <div class="be-radio inline">
                    <input type="radio" [(ngModel)]="forecastDayWeekMonth" value="W" name="dwm" id="rad1">
                    <label for="rad1">Week</label>
                  </div>
                </div>
                <div class="col m1">
                  <div class="be-radio inline">
                    <input type="radio" [(ngModel)]="forecastDayWeekMonth" value="M" name="dwm" id="rad2">
                    <label for="rad2">Month</label>   
                  </div>
                </div>
                <div class="col m2">
                  <div class="be-radio inline">
                    <input type="radio" [(ngModel)]="forecastDayWeekMonth" value="6M" name="dwm" id="rad3">
                    <label for="rad3">6 Month</label>
                  </div>

                </div>
              </form>
            </div>
          </div>
          <div class="container-fluid">
            <app-forecast-graphs [forecast]="averageForecast"></app-forecast-graphs>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    </section>
  </div>
</div>

